{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Beam up some parts! {% endblock %}

{% block body %}
<h1><strong>Starshop</strong>: your monopoly-busting option for Starship parts!</h1>

<div>
    Browse through {{ numberOfStarships }} starships! <br>
    String return {{ "numberOfStarships" }} <br>
    Math return {{ numberOfStarships*10 }} <br>

    {% if numberOfStarships > 400 %}
        <h1><strong>Starshop</strong>: your monopoly-busting option for Starship parts!</h1>

        <div>
            Browse through {{ numberOfStarships }} starships!
        </div>
    {% endif %}
    <br><br>
    <table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain|upper }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>
{% endblock %}