{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Beam up some parts! {% endblock %}

{% block body %}
<h1><strong>Starshop</strong>: your monopoly-busting option for Starship parts!</h1>

<div>
    String return {{ "numberOfStarships" }} <br>
    Math return {{ ships|length*10 }} <br>

    Browse through {{ ships|length * 10 }} starships! <br>

    {% if ships|length > 2 %}
        <p> 
            That's a shipload of ships!
        </p>        
    {% endif %}
    <br><br>
    <table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Class</th>
            <td>{{ myShip.class }}</td>
        </tr>
        <tr>
            <th>Captain</th>
            <td>{{ myShip.captain|upper }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ myShip.status }}</td>
        </tr>
    </table>
</div>
{% endblock %}